
#app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  flex-grow: 1;
}

html,
body,
#root {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-color: #1a1a1a;
  color: #f0f0f0;
  font-family: Arial, sans-serif;
}


#cabecalho {
  background-color: #0a1a1a;
  border-bottom: 1px solid #333;
}

#barra-superior {
  background-color: #000;
  color: #adb5bd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.85rem;
}


.icones-sociais a {
  display: inline-block;
  color: #adb5bd;
  text-decoration: none;
  margin: 0 5px;
  padding: 3px;
}
.icones-sociais a:hover {
  color: #fff;
}

#logo {
  font-size: 2rem;
  font-weight: 700;
  color: #c00000;
}

.lista-menu {
  margin: 0;
  padding: 0;
}

.grid-list {
  max-width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 0;
  list-style: none;
}

.area-pesquisa {
  display: flex;
  background-color: #333;
  border: 1px solid #555;
  border-radius: 4px;
}

.area-pesquisa button {
  background-color: #c00000;
  border: none;
  color: white;
  padding: 6px 12px;
  cursor: pointer;
}

.area-pesquisa input {
  flex: 1; /* Faz o input esticar e ocupar o espaço restante */
  background-color: #333;
  border: none;
  color: #fff;
  padding: 5px 10px;
}

.imagem-principal {
  width: 100%;
  border-radius: 5px;
}

.hr {
  border-top: 1px solid #555;
}


#rodape {
  background-color: #000;
  color: #adb5bd;
  text-align: center;
  padding: 2rem 0;
  margin-top: 30px;
  font-size: 0.9rem;
}

.aviso-mobile {
  display: none; /* Escondido por padrão */
  background-color: #ffc107;
  color: #000;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  position: relative; /* Importante para o posicionamento do botão */
  width: 100%;
}


.close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
  border: none;
  background: none;
  color: #222;
  font-weight: bold;
}

.close-button:hover {
  border-radius: 3px;
  color: #ff0000;
  background-color: #222;
}

/* Para telas pequenas (celulares) */
@media (max-width: 768px) {
  /* Mostra o aviso que estava escondido */
  .aviso-mobile {
    display: block;
  }
}

@media (max-width: 992px) {
  /* Faz a imagem e o texto da notícia ficarem empilhados
    (um em cima do outro) em vez de lado a lado.
  */
  .item-noticia {
    flex-direction: column;
  }

  /* Faz a imagem da notícia ocupar 100% da largura 
    e ter um espaço abaixo dela.
  */
  .item-noticia img {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
}
